.body {
  font-family: Lato, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
#main {
  max-width: 700px;
  font-size: 12px;
  color: #333;
  padding: 0 24px;
}

.h1 {
  margin: 24px 0 0 0;
  padding: 0;
}

.h2 {
  margin: 24px 0 0 0;
  padding: 0;
}

a {
  color: #4058A2;
}

code {
  color: #c04040;
  background: #eee;
}

li {
  margin-top: 8px;
}
.article {
  max-width: 650px;
  padding: 0 24px 0 24px;
}

.imageAsideArticle {
  background: #eee;
  padding: 16px;
  img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 700px) {
  figure {
    float: right;
    width: 350px;
  }
  .imageAsLink {
    display: none;
  }
}

@media only screen and (max-width: 699px) {
  .imageAsideArticle {
    display: none;
  }
}