@ball-size: 242px;
body {
  width: 800px;
  font-family: Lato, Helvetica, sans-serif;
}
#main {
  font-size: 12px;
  color: #333;
  background: #fff url(boltsi.gif) no-repeat 80px 0;
  background-size: @ball-size/2 @ball-size/2;
  min-height: @ball-size/2;
  padding: 0 0 0 270px;
}
h1 {
  margin-top: 50px;
}
a {
  color: #4058A2;
}

code {
  color: #c04040;
  background: #eee;
}

li {
  margin-top: 8px;
}