@ball-size: 242px;
body {
  font-family: Lato, Helvetica, sans-serif;
}
#main {
  width: 800px;
  font-size: 12px;
  color: #333;
  background: #fff url(boltsi.gif) no-repeat 80px 0;
  background-size: @ball-size/2 @ball-size/2;
  min-height: @ball-size/2;
  padding: 0 0 0 270px;
}
h1 {
  margin-top: 50px;
}
a {
  color: #4058A2;
}

code {
  color: #c04040;
  background: #eee;
}

li {
  margin-top: 8px;
}
.article {
  max-width: 650px;
}

.imageAsideArticle {
  background: #eee;
  padding: 16px;
  img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 700px) {
  figure {
    float: right;
    width: 350px;
  }
  .imageAsLink {
    display: none;
  }
}

@media only screen and (max-width: 699px) {
  .imageAsideArticle {
    display: none;
  }
}